<div>
    <h2>Transaction List</h2>
    <ul>
        <li *ngFor="let transaction of transactions">
            Beneficiary: {{ transaction.beneficiaryId }} - Amount: {{ transaction.transactionAmount }} - Date: {{
            transaction.transactionDate | date }}
        </li>
    </ul>

    <h2>Transfer Money</h2>
    <div>
        <label for="beneficiary">Select Beneficiary:</label>
        <select id="beneficiary" [(ngModel)]="selectedBeneficiary">
            <option *ngFor="let beneficiary of beneficiaries" [ngValue]="beneficiary">{{ beneficiary.accountHolderName }}</option>
        </select>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" [(ngModel)]="amount">

        <button (click)="transferMoney()">Transfer</button>
    </div>
</div>